body {
    font-family: Arial, sans-serif;
    background-color: black !important; /* Force the background to be black */
    color: #fff;
    margin: 0; /* Ensure no default margin */
    padding: 0; /* Ensure no default padding */
    height: 100vh; /* Make sure the body takes up the full viewport height */
}

header, section, footer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 100, 0, 1); /* Darker green with transparency */
    border-radius: 10px;
}

h1, h2 {
    color: #00bcd4;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #00bcd4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#more-info ul {
    padding: 0;
    text-align: left;
}

#more-info li {
    margin: 10px 0;
}
